attrs
certifi
charset-normalizer
colorama
configparser
docopt
ete3
exceptiongroup
h11
idna
more-itertools
mysql-connector-python
outcome
protobuf
PySocks
PyYAML
requests
selenium
sniffio
sortedcontainers
trio
trio-websocket
urllib3
wsproto
yarg
six
numpy
unpywall
tabulate
pdfminer.six
tabula-py
PyPDF2
JPype1
pymysql
