azure_username: my_azure_username
azure_password: gobbledegook
pdf_s3_secret_access_key: secret_access_key
pdf_s3_access_key_id: access_key_id
pdf_s3_pdf_endpoint: bucket_url
database_url: database-machine.institution.com
database_name: collections_papers
database_port: 3306
database_password: gobbledegook
database_user: user
